<!-- Navigation bar -->
<nav>
  <div class="nav">
    <a href="/"><img class="nav__brand" src="images/logo.png" alt="" /></a>
    <ul class="list nav__list">
      <li class="nav__item"><a href="#">About Me</a></li>
      <li class="nav__item"><a href="#">Education Experience</a></li>
      <li class="nav__item"><a href="#">My Hobbies</a></li>
      <li class="nav__item"><a href="#">Contact Me</a></li>
    </ul>
  </div>
</nav>

<!-- Hero -->
<section class="block block--dark hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">HELLO, MY NAME IS HONGGE CUI</h1>
      <p class="hero__tagline">
        I am creating this webpage to introduce myself.
      </p>
      <a href="">WHO AM I?</a>
    </header>
    <picture class="hero__picture">
      <source
        type="image/webp"
        srcset="images/hero-small.webp 1x, images/hero.webp 2x"
      />
      <img src="images/hero.JPG" alt="A photo of me" />
    </picture>
  </div>
</section>
